/* add fonts
-------------------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* style general
-------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0
}

.general {
  background: rgb(41, 40, 45);
  background-image: url("../img/bg-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}

body {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}

.index__wrap {
  background-image: url("../img/bg-2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
}

a {
  text-decoration: none
}

li {
  list-style: none
}

$font: "Open Sans", sans-serif;
$font_bold: "Open Sans Bold", sans-serif;
$s3: .3s ease all;

/* style header
-------------------------------*/
.header {
  width: 1140px;
  padding: 33px calc(50% - 570px) 0;
  display: grid;
  grid-template-columns: 165px 1fr 195px;
  grid-template-rows: auto;
}

.header__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__logo-img, .header__logo-link {
  width: 165px;
}

.header__logo-link, .header__nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.header__nav-menu {
  width: 100%;
  margin-left: 91px;
}

.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu__item {
  margin-right: 54px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-family: $font;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  transition: $s3;
}

.menu__link:hover {
  color: #D3A557;
}

.header__box-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header__phone-link {
  font-family: $font;
  font-size: 26px;
  line-height: 35px;
  color: #fff;
}

.schedule__title {
  font-family: $font;
  font-size: 13px;
  line-height: 20px;
  color: #D3A557;
  text-decoration: underline;
  cursor: pointer;
  transition: $s3;
}

.schedule__title:hover {
  color: #fff;
}

.header__box-schedule {
  position: relative;
}

.schedule__box-content {
  position: absolute;
  top: 30px;
  right: 0;
  width: 160px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
  opacity: 0;
  transition: $s3;
}

.schedule__box-content:before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid #EDEDED;
  position: absolute;
  top: -20px;
  right: 30px;
}

.schedule__text {
  font-family: $font;
  color: #1E1F20;
  font-size: 13px;
  line-height: 21px;
}

.schedule__text:nth-child(1) {
  font-family: $font_bold;
}

.schedule__title:hover + .schedule__box-content, .schedule__box-content:hover {
  opacity: 1;
}

.button-menu {
  display: none;
  position: relative;
  z-index: 110;
  cursor: pointer;
}

/* style main
-------------------------------*/
.content-sidebar {
  width: 1140px;
  padding: 33px calc(50% - 570px) 0;
  margin-top: 180px;
}

.content__top {
  width: 100%;
  padding: 0;
  margin: 0;
}

.preview {
  width: 100%;
  display: grid;
  grid-template-columns: 505px 1fr;
  grid-template-rows: repeat(3, auto);
}

.preview__title {
  font-family: $font_bold;
  font-weight: 400;
  font-size: 58px;
  line-height: 110%;
  color: #fff;
  grid-row-start: 1;
  grid-row-end: 2;
}

.preview__text {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 26px 0 43px;
  color: #D3A557;
  font-size: 18px;
  line-height: 20px;
  font-family: $font;
}

.preview__link {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 165px;
  height: 52px;
  background-color: #DFB56D;
  box-shadow: 0 8px 35px rgba(223, 181, 109, 0.35);
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  font-family: $font_bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $s3;
}

.preview__link:hover {
  background-color: #D3A557;
}

.preview__title, .preview__text, .preview__link {
  grid-column-start: 1;
  grid-column-end: 2;
}

.price {
  width: 100%;
  margin-top: 186px;
}

.price__title, .news__title {
  font-size: 36px;
  line-height: 49px;
  font-family: $font_bold;
  color: #fff;
  font-weight: 400;
}

.price-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 27px;
  margin-top: 51px;
}

.price-list__wrap {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.price__img-wrap {
  width: 100%;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-base {
  background-image: url("../img/bg-3.png");
}

.img-optima {
  background-image: url("../img/bg-4.png");
}

.img-platinum {
  background-image: url("../img/bg-5.png");
}

.price-list__content {
  width: calc(100% - 42px);
  padding: 0 20px 26px 22px;
}

.price-list__title {
  margin: 33px 0 18px;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  font-family: $font_bold;
  font-weight: 400;
}

.price-list__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.price-list__info-pay {
  width: 115px;
}

.price-list__info-cashback {
  width: 161px;
}

.info-pay__title, .info-cashback__title {
  font-size: 36px;
  line-height: 49px;
  font-family: $font;
  color: #000;
  margin-bottom: 4px;
  display: block;
}

.info-pay__text, .info-cashback__text {
  font-size: 16px;
  line-height: 22px;
  font-family: $font;
  color: #666;
}

.price-list__link {
  background: #2B2B2B;
  box-shadow: 0 8px 35px rgba(223, 181, 109, 0.35);
  border-radius: 3px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font_bold;
  color: #fff;
  width: 165px;
  height: 52px;
  margin: 0 auto;
  transition: $s3;
  margin-top: 48px;
}

.price-list__link:hover {
  background: #DFB56D;
}

.news {
  width: 100%;
  margin-top: 127px;
}

.news__title {
  margin-bottom: 51px;
}

.news-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 394px auto;
  grid-gap: 25px;
}

.box-news {
  width: calc(100% - 99px);
  height: 364px;
  position: relative;
  padding: 15px 69px 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(90, 90, 90, 0.35), rgba(90, 90, 90, 0.35));
  overflow: hidden;
}

.news-bg {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pagination__wrap {
  width: 100%;
  margin-top: 32px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.pagination, .pagination__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.news__title-content {
  width: 100%;
  height: 127px;
  position: relative;
  z-index: 10;
}

.news__title-content-data {
  font-size: 14px;
}

.news__title-h6 {
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  font-family: $font_bold;
  font-weight: 400;
  margin: 12px 0 9px;
}

.news__title-text, .pagination__text, .pagination__link {
  font-size: 16px;
}

.news__title-text, .news__title-content-data, .pagination__text, .pagination__link {
  color: #fff;
  font-family: $font;
  line-height: 21px;
}

.pagination {
  margin-left: 25px;
}

.pagination__item, .pagination__link {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item.current, .pagination__item:hover {
  background-color: #353439;
}

.about-us {
  width: 100%;
  display: grid;
  grid-template-columns: 354px 136px 1fr;
  grid-template-rows: 97px 408px 47px;
  margin-top: 152px;
}

.about-us__img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.about-us__content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #202123;
  border-radius: 5px;
  width: calc(100% - 241px);
  height: 317px;
  padding: 70px 160px 68px 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us__title {
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  font-family: $font_bold;
  color: #fff;
}

.about-us__text {
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  font-family: $font;
}

.about-us__link {
  color: #fff;
  width: 165px;
  height: 52px;
  background-color: #DFB56D;
  box-shadow: 0 8px 35px rgba(223, 181, 109, 0.35);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $s3;
}

.about-us__link:hover {
  background-color: #D3A557;
}

.feedback__preview {
  width: 1140px;
  padding: 168px calc(50% - 570px) 23px;
  background-image: url("../img/bg-6.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.feedback__preview-title {
  font-size: 72px;
  line-height: 98px;
  font-family: $font_bold;
  font-weight: 400;
  color: #fff;
}

.breadcrumbs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
  line-height: 19px;
  font-family: $font;
  margin-right: 7px;
}

.breadcrumbs__link:last-child {
  font-family: $font_bold;
}

.breadcrumbs__link:after {
  content: " / ";
  color: #fff;
}

.breadcrumbs__link:last-child:after {
  content: none;
}

.feedback__price {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 98px 0 130px;
}

.price-content {
  width: calc(100% - 173px);
  padding: 40px 143px 22px 30px;
  margin-bottom: 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.price-content:last-child {
  margin-bottom: 0;
}

.price-content:nth-child(even) {
  background-color: #F5F5F5;
}

.price-content__img {
  width: 460px;
}

.price-content__box-text {
  width: calc(100% - 516px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.price-content__title {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  font-family: $font_bold;
  color: #202020;
}

.price-content__text {
  margin: 48px 0 28px;
  font-size: 16px;
  line-height: 27px;
  color: #303030;
  font-family: $font;
}

.price-content__link {
  width: 165px;
  height: 52px;
  background-color: #29282D;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  font-family: $font_bold;
  color: #fff;
  transition: $s3;
}

.price-content__link:hover {
  background-color: #DFB56D;
}

.price-pagination, .feedback-pagination {
  width: 100%;
}

.price-pagination, .price-pagination__list, .price-content__link, .price-pagination__link, .partners-list__item,
.feedback-pagination, .feedback-pagination__list, .price-content__link, .feedback-pagination__link, .partners-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-pagination__text, .feedback-pagination__text {
  font-size: 16px;
  line-height: 20px;
  font-family: $font;
  color: #000;
  margin-right: 36px;
}

.price-pagination__item, .price-pagination__link, .feedback-pagination__item, .feedback-pagination__link {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  transition: $s3;
}

.price-pagination__link, .feedback-pagination__link {
  font-size: 16px;
  line-height: 21px;
  font-family: $font_bold;
  font-weight: 400;
  color: #000;
}

.price-pagination__item.current, .price-pagination__item:hover, .feedback-pagination__item.current,
.feedback-pagination__item:hover {
  background-color: #353439;
}

.price-pagination__item.current .price-pagination__link, .price-pagination__item:hover .price-pagination__link,
.feedback-pagination__item.current .feedback-pagination__link, .feedback-pagination__item:hover .feedback-pagination__link {
  color: #fff;
}

.partners {
  width: 1140px;
  padding: 88px calc(50% - 570px) 120px;
  background-color: #F4F5F5;
}

.partners__title {
  font-size: 48px;
  line-height: 65px;
  font-family: $font_bold;
  color: #202020;
  font-weight: 400;
  margin-bottom: 88px;
}

.partners-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 80px;
  filter: grayscale(100%);
}

.feedback__comments {
  width: 1140px;
  padding: 0 calc(50% - 570px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 26px;
  margin: 98px 0 76px;
}

.feedback__comments-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.comments {
  width: calc(100% - 59px);
  padding: 50px 31px 32px 28px;
  background-color: #F4F5F5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 26px;
}

.comments__box-ava {
  width: 142px;
  height: 142px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.comments__header {
  width: 100%;
  display: grid;
  grid-template-columns: 142px 1fr;
  grid-template-rows: auto;
  grid-gap: 22px;
}

.comments__ava {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comments__text {
  margin: 13px 0 48px;
  font-size: 16px;
  line-height: 27px;
  font-family: $font;
  color: #818181;
}

.comments__box-name {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comments__name-link {
  font-size: 24px;
  line-height: 42px;
  color: #1A1B1E;
  font-family: $font_bold;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.comments__name-link:after {
  content: url("../img/icons/vk-blue.png");
  height: 30px;
  margin-left: 7px;
}

.comments__name-link:hover {
  color: #2E77A4;
  text-decoration: underline;
}

.comments__categories {
  width: 100%;
}

.comments__categories-item {
  padding: 10px 25px;
  background-color: #B9EAE4;
  border-radius: 35px;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  font-family: $font;
  color: #303030;
  margin-bottom: 10px;
}


.comments__title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  font-family: $font_bold;
  color: #202020;
  margin-top: 27px;
}

.comments__data {
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  font-family: $font;
  color: #1A1B1E;
}

.banner {
  width: 1140px;
  padding: 84px calc(50% - 570px);
  background: linear-gradient(0deg, #E5C288, #E5C288);
  margin: 86px 0 0;
  position: relative;
}

.banner-img {
  position: absolute;
  bottom: 0;
  right: 15%;
}

.banner__title {
  font-size: 48px;
  line-height: 65px;
  font-family: $font_bold;
  font-weight: 400;
  color: #202020;
  width: 481px;
}

.box-enter {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-image: url("../img/bg-7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-enter, .box-enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-enter {
  color: #fff;
  text-transform: uppercase;
  font-family: $font_bold;
  font-weight: 400;
  font-size: 14px;
  margin-top: 59px;
  width: 165px;
  height: 52px;
  background-color: #DFB56D;
  box-shadow: 0 8px 35px rgba(223, 181, 109, 0.35);
  border-radius: 3px;
  transition: $s3;
}

.button-enter:hover {
  background-color: #D3A557;
}

.feedback-form {
  width: 1140px;
  padding: 72px calc(50% - 570px) 98px;
  background-color: #F4F5F5;
}

.feedback-form__title {
  font-size: 48px;
  line-height: 65px;
  color: #202020;
  font-family: $font_bold;
  font-weight: 400;
}

.form-feedback {
  margin-top: 47px;
  display: grid;
  grid-template-columns: 440px 156px 28px 1fr;
  grid-template-rows: 65px 235px auto auto;
}

.form__input-text:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form__input-text:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.form__input-text {
  grid-row-start: 1;
  grid-row-end: 2;
  width: calc(100% - 45px);
  padding: 0 15px 0 30px;
  height: 65px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
  font-family: $font;
  background-color: #fff;
  transition: $s3;
}

.form__input-text:focus, .form-feedback__textarea:focus {
  border: 1px solid #E5C288;
}

.form-feedback__textarea {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 26px;
  padding: 30px;
  resize: none;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
  font-family: $font;
  border-radius: 5px;
  background-color: #fff;
  transition: $s3;
}

.form-feedback__text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.services {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.form-feedback__checkbox {
  display: none;
}

.services__item {
  display: inline-block;
  margin-bottom: 35px;
}

.form__buttons {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.form-feedback__delete {
  width: 165px;
  height: 52px;
  background-color: #8E8E8E;
  border-radius: 3px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font_bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: $s3;
}

.form-feedback__delete:hover {
  background-color: #2B2B2B;
}

.form-feedback__submit {
  width: 165px;
  height: 52px;
  background: #2B2B2B;
  border-radius: 3px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font_bold;
  margin-left: 22px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: $s3;
}

.form-feedback__submit:hover {
  background-color: #DFB56D;
}

.form-feedback__text {
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
  font-family: $font;
  font-weight: 400;
}

.form-feedback__label {
  padding: 9px 15px;
  font-size: 13px;
  line-height: 18px;
  color: #303030;
  font-family: $font;
  background-color: #E7E7E7;
  border-radius: 35px;
  cursor: pointer;
  transition: $s3;
}

.form-feedback__label:hover, .form-feedback__checkbox:checked + label {
  background-color: #B9EAE4;
}

/* style footer
-------------------------------*/
.footer {
  width: 1140px;
  padding: 0 calc(50% - 570px);
  margin-top: 53px;
}

.footer__wrap {
  width: 100%;
  padding: 42px 0 57px;
  display: grid;
  border-top: 1px solid rgba(255, 255, 255, 0.11);
  grid-template-columns: 165px 1fr 174px 269px;
  grid-template-rows: auto;
}

.footer__logo-img, .footer__logo-link {
  width: 165px;
}

.footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-menu {
  margin-left: 91px;
}

.footer__menu {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer__box-phone {
  width: 195px;
  margin-left: 74px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.footer__phone-link {
  font-size: 26px;
  line-height: 20px;
  font-family: $font;
  color: #fff;
}

.footer-schedule__title {
  color: #9A9A9A;
  font-size: 11px;
  line-height: 20px;
  font-family: $font;
  margin-bottom: 7px;
  display: block;
}

.soc-list__link {
  width: 36px;
  height: 36px;
  display: block;
}

.soc-list__item:nth-child(1) {
  background-image: url("../img/icons/telegram.png");
}

.soc-list__item:nth-child(2) {
  background-image: url("../img/icons/vk.png");
}

.soc-list__item:nth-child(3) {
  background-image: url("../img/icons/facebook.png");
}

.soc-list__item:nth-child(4) {
  background-image: url("../img/icons/instagram.png");
}

.soc-list__item:nth-child(1):hover {
  background-image: url("../img/icons/telegram-hover.png");
}

.soc-list__item:nth-child(2):hover {
  background-image: url("../img/icons/vk-hover.png");
}

.soc-list__item:nth-child(3):hover {
  background-image: url("../img/icons/facebook-hover.png");
}

.soc-list__item:nth-child(4):hover {
  background-image: url("../img/icons/instagram-hover.png");
}

.footer__dark {
  background-color: #29282D;
  margin-top: 0;
}


/* style @media
----------------------------- */
@media screen and (max-width: 1280px) {
  .partners-list {
    grid-gap: 50px 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .content-sidebar {
    width: 100%;
  }

  .header, .feedback__preview, .footer, .partners, .preview, .news, .price, .news-content, .feedback__comments,
  .feedback-pagination, .banner, .feedback-form, .feedback__price {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .news__title-h6 {
    font-size: 18px;
  }

  .news__title-text {
    font-size: 14px;
  }

  .news-content {
    grid-template-rows: 285px auto;
  }

  .box-news {
    height: 285px;
  }

  .price-list__title {
    margin: 15px 0;
    font-size: 17px;
    line-height: 20px;
  }

  .price__img-wrap {
    height: 85px;
  }

  .info-pay__title, .info-cashback__title {
    font-size: 23px;
  }

  .info-pay__text, .info-cashback__text {
    font-size: 12px;
    line-height: 16px;
  }

  .price-list__link {
    width: 120px;
    height: 36px;
    margin-top: 24px;
  }

  .price-list__info-pay {
    width: 85px;
  }

  .price-list__info-cashback {
    width: 135px;
  }

  .partners-logo {
    width: 150px;
  }

  .banner-img {
    right: 13%;
  }
}

@media screen and (max-width: 1150px) {
  .comments__name-link {
    font-size: 18px;
    line-height: 36px;
  }

  .comments__box-ava {
    width: 100px;
    height: 100px;
  }

  .comments__header {
    grid-template-columns: 100px 1fr;
  }

  .comments__categories-item {
    padding: 8px 15px;
    font-size: 12px;
  }

  .comments__title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
  }

  .comments__text {
    margin: 5px 0 16px;
    font-size: 12px;
    line-height: 23px;
  }

  .comments__categories {
    margin-top: 10px;
  }

  .feedback__comments {
    margin: 55px 0 20px;
  }

  .price-content__img {
    width: 330px;
  }

  .price-content__box-text {
    width: calc(100% - 360px);
  }

  .price-content {
    width: calc(100% - 50px);
    padding: 40px 25px 30px;
  }
}

@media screen and (max-width: 1050px) {
  .about-us__content {
    height: auto;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav-menu {
    width: auto;
    margin: 0;
  }

  .footer__nav-menu {
    margin-left: 50px;
  }

  .footer__wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 55px auto;
    grid-gap: 20px;
  }

  .footer__nav-menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .soc-list {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer__menu, .header__menu {
    width: 100%;
    justify-content: space-between;
  }

  .about-us {
    grid-template-columns: 140px 136px 1fr;
  }

  .price {
    margin-top: 60px;
  }

  .price__img-wrap {
    height: 130px;
    background-size: cover;
  }

  .price-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .news__title-h6 {
    font-size: 23px;
    line-height: 28px;
  }

  .box-news {
    height: 220px;
    padding: 15px 20px 15px 30px;
    width: calc(100% - 50px);
  }

  .news-content {
    grid-template-rows: 230px auto;
  }

  .news__title-content {
    height: 165px;
  }

  .about-us__content {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .about-us__img {
    display: none;
  }

  .about-us {
    margin-top: 85px;
    display: block;
  }

  .price-list__info-pay, .price-list__info-cashback {
    width: 48%;
  }

  .about-us__text {
    margin: 25px 0;
  }

  .banner-img {
    right: 0;
    height: auto;
  }

  .form-feedback {
    grid-template-columns: 1fr 156px 28px 1fr;
  }

  .price-content__title {
    font-size: 27px;
    line-height: 37px;
  }

  .price-content__text {
    margin: 20px 0;
  }
}

@media screen and (max-width: 950px) {
  .banner__title {
    font-size: 30px;
    line-height: 40px;
    width: calc(100% - 340px);
  }

  .banner-img {
    height: 230px;
  }

  .footer__nav-menu, .footer__box-phone {
    margin: 0;
    width: 100%;
  }

  .footer__box-phone {
    align-items: flex-end;
  }
}

@media screen and (max-width: 820px) {
  .feedback__comments {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  .form-feedback {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .form__input-text:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    width: calc(100% - 65px);
  }

  .form__input-text:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .form__input-text {
    height: 40px;
    font-size: 13px;
  }

  .form-feedback__textarea {
    height: 150px;
    padding: 15px;
    font-size: 13px;
  }

  .form-feedback__text, .services, .form__buttons, .form-feedback__textarea {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .services {
    grid-row-start: 4;
    grid-row-end: 5;
    height: auto;
    margin: 30px 0 10px;
  }

  .form__buttons {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .price-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .price-content__box-text {
    width: 100%;
    margin-top: 15px;
  }

  .header {
    background-color: #0000003d;
    padding-bottom: 15px;
  }

  .content-sidebar {
    margin-top: 125px;
  }

  .content-sidebar.content__top {
    margin-top: 0;
  }
}

@media screen and (max-width: 780px) {
  .preview__title {
    font-size: 34px;
  }

  .header__phone-link {
    font-size: 20px;
  }

  .price__title, .news__title {
    font-size: 29px;
    line-height: 40px;
  }

  .news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .news__link {
    width: 100%;
  }

  .news__title-content {
    height: auto;
  }

  .box-news {
    height: 280px;
  }

  .partners-list {
    grid-gap: 50px 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .general {
    background-position: 65% -100px;
  }

  .feedback__preview {
    background-position: 60% -95%;
  }
}

@media screen and (max-width: 730px) {
  .footer__nav-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .soc-list {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer__wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__box-phone {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
  }
}

@media screen and (max-width: 670px) {
  .banner-img {
    position: static;
    margin-left: 100px;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    padding-top: 30px;
  }

  .banner__title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .about-us__content {
    width: calc(100% - 100px);
    padding: 70px 50px 68px;
  }
  .price__img-wrap {
    height: 100px;
  }

  .header__nav-menu {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 0;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease all;
    overflow: hidden;
  }

  .header__nav-menu.active {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header__menu, .menu__item   {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .menu__item, .header__menu, .menu__link {
    width: 100%;
  }

  .menu__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header__menu .menu__link {
    font-size: 25px;
    line-height: 45px;
  }

  .partners {
    padding: 47px 20px 43px;
  }

  .partners__title {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 37px;
  }

  .form-feedback {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  .form__buttons, .form-feedback {
    flex-direction: column;
    justify-content: flex-start;
  }

  .form__input-text, .form__input-text:nth-child(1) {
    width: calc(100% - 30px);
    margin-bottom: 15px;
    border: 1px solid #c3c3c3;
    padding-left: 15px;
  }

  .feedback-form__title {
    font-size: 33px;
    line-height: 45px;
  }

  .form-feedback__textarea {
    width: calc(100% - 30px);
    border: 1px solid #c3c3c3;
  }

  .form-feedback__text {
    width: 100%;
    text-align: left;
  }

  .form-feedback__delete {
    width: 100%;
    margin-bottom: 15px;
  }

  .form-feedback__submit {
    width: 100%;
    margin: 0;
  }

  .feedback__preview-title {
    font-size: 42px;
  }

  .banner-img {
    margin: 0;
  }

  .comments {
    width: calc(100% - 30px);
    padding: 30px 15px;
  }

  .comments__header, .feedback-pagination, .price-pagination {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .comments__name-link {
    margin: 0 auto;
  }

  .feedback-pagination__text, .price-pagination__text {
    margin: 0 0 15px;
  }

  .price-content__title {
    font-size: 19px;
    line-height: 28px;
  }

  .price-content__img {
    width: 100%;
  }

  .price-content__text {
    font-size: 13px;
    line-height: 25px;
  }

  .feedback__price {
    padding: 50px 0 85px;
  }

  .button-menu {
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
  }

  .sandwich-line {
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    display: grid;
    background-color: #fff;
    transition: .5s ease all;
  }

  .sandwich-line:last-child {
    margin-bottom: 0;
  }

  .sandwich-line:nth-child(1).active {
    position: absolute;
    transform: rotate(45deg);
  }

  .sandwich-line:nth-child(2).active {
    display: none;
  }

  .sandwich-line:nth-child(3).active {
    position: absolute;
    transform: rotate(-45deg);
  }

}

@media screen and (max-width: 550px) {
  .price-list, .preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .price-list__wrap {
    max-width: 300px;
  }

  .preview {
    align-items: flex-start;
  }

  .price__title, .news__title {
    font-size: 25px;
    line-height: 38px;
  }

  .footer__wrap {
    grid-template-columns: 1fr;
  }

  .footer__box-phone {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .footer__nav-menu {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer__menu, .soc-list {
    justify-content: center;
  }

  .soc-list__item {
    margin: 0 10px;
  }

  .footer__logo-link {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .soc-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .footer__box-phone {
    width: 100%;
    align-items: center;
    margin: 10px 0;
  }

  .footer__menu {
    height: 15px;
  }

  .pagination__wrap {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .pagination__text {
    margin-top: 15px;
  }

  .news {
    margin-top: 60px;
  }

  .partners-logo {
    width: 105px;
  }
}

@media screen and (max-width: 450px) {
  .preview__title {
    font-size: 25px;
    line-height: 140%;
  }

  .about-us__text {
    font-size: 12px;
    line-height: 25px;
  }

  .about-us__link {
    margin: 0 auto;
  }

  .box-news {
    height: 230px;
  }

  .price__title, .news__title {
    font-size: 20px;
    line-height: 35px;
  }

  .header__logo-img, .header__logo-link {
    width: 130px;
  }

  .header__phone-link {
    font-size: 12px;
  }

  .banner__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 350px) {
  .box-news {
    height: 150px;
  }

  .news__title-h6 {
    font-size: 13px;
    line-height: 20px;
  }

  .news__title-content-data {
    font-size: 10px;
  }

  .news__title-text {
    font-size: 11px;
  }

  .box-news {
    padding: 15px;
    width: calc(100% - 30px);
  }

  .partners-logo {
    width: 85px;
  }
}