body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color:#fff;
    font-size: 16px;
    line-height: 1.42;
    background: #29292c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

.container {
    margin: 0 auto;
    widht: 1140px;
}    

ul {
    padding: 0;
    margin: 0;
}    

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 156px;
}

.logo {
    display: block;
    position: absolute;
    top: 44px; top: 57;
    left: 0;
}

.menu {
    position: absolute;
    top: 47px;
    left: 261px;
}

.contacts {
    position: absolute;
    top: 30px;
    right: 0px;
    font-style: normal;
    text-align: right;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item--active .menu__link {
    color: #dfb56d;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #dfb56d;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #dfb56d;
}

.hero__text-section {
    width: 400px;
}

.hero__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 18px;
}

.hero__subtitle {
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 63px;
}

.btn {
    background: #dfb56d;
    border-radius: 4px;
    padding: 18px 39px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
   background: #d3a556;
   box-shadow: 0 0 25px 0 #dfb56d;
}  

.section {
    margin-bottom: 138px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 45px;
}

.offers__item {
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 28px;
    width: 362px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 162px;
    margin-bottom: 28px;
}

.offers__content {
    padding: 36px 30px;
    color: #010001;
}

.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.offers__prices-cell {
    display: inline-block;
    vertical-align: top;
    width: 115px;
    margin-right: 30px;
}

.offers__prices-cell:last-child {
    margin-right: 0;
}