body {
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

.container {
    margin: 0 auto;
    widht: 1150px;
}    

ul {
    padding: 0;
    margin: 0;
}    

ul li {
    list-style: none;
}

.footer {
    height: 120px;
    position: relative;
}

.header {
    height: 120px;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    top: 57px;
    left: 0px;
}

.menu {
    position: absolute;
    top: 65px;
    left: 250px;
}

.contacts {
    position: absolute;
    top: 48px;
    right: 0px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FFFFFF;
}
